.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgb(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: absolute;
    padding: 32px;
    width: 100%;
    box-shadow: 0px 2px 8px 0px #37474f;
    background-color: white;
    text-align: center;
    border-radius: 1rem;

}
@media(min-width: 768px) {
    .popup-inner{max-width: 640px;}
}
@media(max-width: 768px) {
    .popup-inner{max-width: 320px;}
}

.popup-inner .close-button{
    font-size: large;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    border: none;
}

.popup-inner .close-button:hover{
    background-color: #37474f;
    color: white;
}